.home {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 3rem;
}

.welcome {
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.individual {
  margin: 1em;
}

.links {
  color: inherit;
}

.eventDetails {
  margin: 0 0  0 2rem;
}

.info {
  grid-area: info;
}

.event {
  grid-area: event;
}

@media screen and (min-width: 992px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'info event';
    grid-gap: 1em;
  }
}
