.home {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 3rem;
  grid-template-areas:
    'info'
    'event'
    'social';
}

.welcome {
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.individual {
  font-size: 0.65rem;
  color: #FFF;
  border: 3px solid #FFF;
  background: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  border-radius: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.individual:hover {
  background-color: #FFF;
  color: #375878;
}

.eventDetails {
  margin: 0 0  0 2rem;
}

.info {
  grid-area: info;
}

.event {
  grid-area: event;
}

.social {
  grid-area: social;
}

.socialMedia {
  display: flex;
  align-items: center;
  align-content: center;
}

.socialMedia img {
  width: auto;
  padding: 1vh;
  margin-bottom: 0;
}

.socialMedia p {
  margin-left: 1rem;
}

.socialText {
  margin-bottom: 0;
}

.bolded {
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'info event'
      'social event';
    grid-gap: 1em;
    color: rgb(255, 255, 255);
  }
}
