.mentors {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 2rem;
  color: #FFF;
  font-family: 'Brandon Grotesque', sans-serif;
}

@media (min-width: 992px) {
  .mentors {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
