.activities {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-areas: '. event .';
}

.eventContainer {
  grid-area: event;
}

.dayContainer {
  position: relative;
  font-family: 'Brandon Grotesque', sans-serif;
  color: #FFF;
  border-left: 1px solid #FFF;
  margin: 3rem 0 3rem 2rem;
}

.dayHeader {
  position: absolute;
  text-transform: uppercase;
}

.friday {
  transform: rotate(270deg) translateY(-5rem) translateX(-3rem);
}

.saturday {
  transform: rotate(270deg) translateY(-6.75rem) translateX(-4rem);
}

.sunday {
  transform: rotate(270deg) translateY(-5.5rem) translateX(-3rem);
}

.event {
  color: rgb(255, 255, 255);
  padding: 1rem 3rem;
}

.event h3:first-child {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

@media (min-width: 992px) {
  .activities {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .event h3:first-child {
    width: 20vw;
  }

  .eventContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
