.sponsors {
  color: rgb(255, 255, 255);
}

.thankYou {
  padding: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: '. logos .';
  margin-top: 3rem;
}

.logos {
  grid-area: logos;
}

.sponsor {
  text-align: center;
  margin-bottom: 3rem;
}

.sponsorBlurb {
  text-align: left;
}

.links {
  font-weight: bold;
  text-decoration: none;
}

.links:hover {
  color: #FFF;
}

.largeLogos {
  width: 35vw;
  height: auto;
}

@media screen and (min-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .largeLogos {
    width: 14vw;
    height: auto;
  }
}
