.tracks {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
    '. gamedev .'
    '. ai .'
    '. iot .';
  grid-gap: 5%;
}

.gamedev {
  grid-area: gamedev;
  margin-bottom: 2rem;
}

.ai {
  grid-area: ai;
  margin-bottom: 2rem;
}

.iot {
  grid-area: iot;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .tracks {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: '. gamedev ai iot .';
    grid-gap: 5%;
  }
}
