.tracks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    '. gamedev .'
    '. ai .'
    '. iot .';
}

.gamedev {
  grid-area: gamedev;
}

.ai {
  grid-area: ai;
}

.iot {
  grid-area: iot;
}
