.mentorCard {
  text-align: center;
  padding: 2rem 4rem;
}

.mentorCard h2 {
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 2rem;
}

.mentorCard p {
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 1.25rem;
}

.imgBox {
  background: rgb(0, 0, 0);
}
